*.npz
*.pem
.gitignore

logs/
saved_models/Compare/
saved_models/Model_1_All/
saved_models/Model_2_All/
saved_models/Model_3_All/
saved_models/Model_4_Gender/
saved_models/Model_5_Female/
saved_models/Model_6_Male/
saved_models/Model_7_L2Reg/
saved_models/Model_8_Dropout/